<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI FILTER -->

	<bean id="EndpointFilter" class="xdi2.server.EndpointFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
	</bean>

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.server.spring.StringXDI3StatementConverter" />
				<bean class="xdi2.server.spring.StringXDI3SegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3SubSegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3XRefConverter" />
			</list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /zephyr -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a ZephyrGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.zephyr.ZephyrGraphFactory">
		<property name="dataApi" value="http://127.0.0.1:10002/" />
		<property name="oauthToken" value="SECRET" />
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean name="/zephyr" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
	</bean>

</beans>
